body {
  font-size: 16px;
  color: black;
  background-color: white;
  font-family: 'Oxygen', sans-serif;
}

/** HEADER **/
#header-nav {
	background-color: purple;
	border-radius: 0;
	border: 0;
}

.navbar-header {
	line-height: 80px;
	height: 80px;
	padding-top: 0;
}
.navbar-header button {
	margin-top: 20px;
}
.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
	border: 1px solid #CCFF99;
}

.navbar-collapse {
    border-top: 0;
}

.navbar-brand {
	padding-top: 0;
}
.navbar-brand a:hover, .navbar-brand a:focus {
	text-decoration: none;
}
.navbar-brand a h1 {
	color: #CCFF99;
    font-family: 'Abril Fatface', cursive;
    font-weight: bolder;
    font-size: 2em;
}

#nav-list a {
	line-height: 80px;
	height: 80px;
	padding-top: 0;
	color: #CCFF99;
	text-align: center;
	font-size: 1.3em;
}
#nav-list a:hover {
	background: grey;
}
/** END HEADER **/


/** MAIN CONTENT **/
section {
	width: 100%;
    padding: 20px;
    background-color: #CCFF99;
    margin-bottom: 60px;
    box-shadow: 0 0 80px grey;
}

#main-content {
    width: 90%;
    margin-bottom: 30px;
}

#main-content h2 {
    font-size: 3em;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 50px;
}

#main-content h3 {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 1em;
}
/** END MAIN CONTENT **/